footer{
    background-color: $black;
    color: #fff;
    padding-top: 18px;
    a{
        text-decoration: none !important;
        color: $green !important;
        &:hover{
            text-decoration: none;
            color: $green !important;
            opacity: 0.9;
        }
    }

}