header {
    height: 56px;
}

.aln-right {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: end;
    }
}

.navbar-collapse{
z-index: 999999;
}

.navbar{
    z-index: 9;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    outline: none;
}