.psudo {
  content: "";
  display: block;
  position: absolute;
}
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.color-neutral{
  color: $neutral;
}
.color-green{
  color: $green;
}
.color-red{
  color: $red;
}

h6{
  white-space: normal;
  color: #000000;
  text-decoration: none;
  &:focus{
    text-decoration: none;
  }
}