.psudo {
  content: "";
  display: block;
  position: absolute;
}
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.color-neutral{
  color: $neutral;
}
.color-green{
  color: $green;
}
.color-red{
  color: $red;
}
.bg-red{
  background-color: $red;
  box-shadow: 0px 0px 7px -1px $red;

}

h6{
  white-space: normal;
  color: #000000;
  text-decoration: none;
  &:focus{
    text-decoration: none;
  }
}

h1{
  
  color: #fff;
  font-size: 1.2rem;
  margin: 20px 0px;
}

p.lastUpdate{
  text-align: center;
    color: #ffffff96;
}

.info-title{
  background-color: #212529;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 7px -3px #212529;
    font-size: 18px;
}

.bg-dark {
  background-color: $black !important;
}