.psudo {
  content: "";
  display: block;
  position: absolute;
}
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.color-neutral{
  color: $neutral;
}
.color-green{
  color: $green;
}
.color-red{
  color: $red;
}
.color-today{
  color: $today;
}
.bg-red{
  background-color: $red;
  box-shadow: 0px 0px 7px -1px $red;

}

h6{
  white-space: normal;
  color: #000000;
  text-decoration: none;
  &:focus{
    text-decoration: none;
  }
}

h1{
  
  color: #fff;
  font-size: 1.2rem;
  margin: 20px 0px;
}

p.lastUpdate{
  text-align: center;
    color: #ffffff96;
}

.info-title{
  background-color: #212529;
    color: $green;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 4px 7px -3px #212529;
    font-size: 18px;
}

.bg-dark {
  background-color: $black !important;
}

p.info-title{
  color: #fff;
}


.bg-neutral{
  background: radial-gradient(circle at 20% 20%, #212529 25%, #313329 100%);
  box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100,110,140,0.4);
  color: rgba(255,255,255,0.9);
}